<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CoreData" connectionString="Data Source=ASHISH-W10\LOCALHOST;Initial Catalog=CoreData;Trusted_Connection=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>